spring:
  application:
    name: petty

  config:
    import: "optional:classpath:application-secret.yml"

  profiles:
    active: dev

logging:
  level:
    io.github.petty: ERROR
    org.springframework.web: ERROR
    software.amazon.awssdk: ERROR
    com.google.cloud: ERROR

server:
  forward-headers-strategy: FRAMEWORK

  vision:
    daily-limit: 3  # 기본 일일 한도
    cleanup:
      enabled: true
      retention-days: 30  # 30일 이전 데이터 삭제